
#####################################################
#
# List of approvers for qubership-integration-engine
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @Sid775